<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Group Login</title>
</head>
<body>
  <div class="header">
    <h1 class="text">Group Login</h1>
    <p>Enter your Group ID and password to view submissions</p>
    {% if error %}
      <p style="color:red;">{{ error }}</p>
    {% endif %}
  </div>

  <main>
    <form action="/group" method="POST" class="form-container">
      <label for="group_id">Group ID</label>
      <input type="text" name="group_id" placeholder="Enter Group ID" required>

      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Enter Password" required>

      <button type="submit" class="btn1">Login</button>
    </form>
  </main>
</body>
</html>
